<h2 style="color: red;">Le style & Classe CSS</h2>

<p [style.color]="couleur">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur dolor aliquid incidunt in, enim blanditiis dolorem debitis suscipit nam vero reiciendis amet ipsam accusamus exercitationem temporibus fugiat itaque. Saepe, incidunt?</p>

<p [ngStyle]="{color: 'cornflowerblue', fontSize: '20px'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa id voluptatem quo eaque adipisci, reiciendis eos veniam totam, dolorem perferendis blanditiis mollitia maxime exercitationem assumenda? Modi aliquam eos maiores qui.
</p>

<p [ngStyle]="monStyle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores fugit suscipit vel deserunt eum ipsa autem nostrum earum reiciendis, beatae molestias animi, commodi minima dolores ab numquam debitis tempore delectus?</p>

<p [class]="maClasse">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate non fugit nulla tempore consectetur, at, eaque ipsam doloremque impedit dicta, quam deleniti magni dignissimos eveniet cupiditate aperiam debitis modi ex?</p>

<p [class.error]="couleur === 'coral' ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur optio, sunt ipsa officia accusamus animi doloribus porro, sequi, voluptates facilis sed vel ea sit molestias eaque esse dolorum quos laborum.</p>

<!-- ngClass: Directive d'attribut-->
<p [ngClass]="mesClasses">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, tenetur ad? Quis enim quo quidem rerum eaque magni ut facilis iusto dolor, pariatur minima dicta? Laboriosam nostrum ad sed quo.</p>